{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "WebVirtCloud" %}  - {% trans "Sign In" %}{% endblock %}

{% block style %}
<link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endblock style %}

{% block content %}
<div class="page-header"><div style="text-align:center;"></br><img src="../../static/logo-new.png" style="text-align:center;vertical-align:middle;height: 3.8rem;"></br></br></div>
	<div style="text-align:center;color:white;"><h2 style="font-weight:bold;color:white;">{% trans "WebVirtCloud" %}</h2></div>
</div>
<div class="col-12" role="main">
    {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
            {% trans "Incorrect username or password." %}
        </div>
    {% endif %}
  <div style="width:320px;margin:auto;background-color:#f0f8ff69;margin:auto;box-shadow: 0px 0px 18px #00ffe8;">
    <form class="form-signin" method="post" role="form" aria-label="Login form">{% csrf_token %}
        <h2 class="form-signin-heading" style="color:#ffffff;text-shadow:2px 2px 2px #2a3a5b;">{% trans "Sign In" %}</h2>
        <input type="text" class="form-control" name="username" placeholder="{% trans "User" %}" autocapitalize="none" autocorrect="off" autofocus>
        <input type="password" class="form-control" name="password" placeholder="{% trans "Password" %}">
        <input type="hidden" name="next" value="{{ next }}">
        <div class="d-grid">
            <button class="btn btn-lg btn-success" type="submit">{% trans "Sign In" %}</button>
        </div>
    </form>
  </div>
  <div style="text-align:center;background-color:#f0f8ff69;width:400px;margin:auto;"><img src="../../static/logo-s.png" style="vertical-align:middle;height:0.8em;">&nbsp;<span style="font-size:14px;color:#005a86;font-weight:bold;">来自ARM64的澎湃动力，由飞腾处理器提供多样化算力支持！</span></div>
</div>
{% endblock %}
